* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	overflow-x:hidden;
	}

nav {
	background: white;
	height: 80px;
	width: 100%;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: white;
	color: black;
	font: 15px sans-serif;
	justify-content: center;
	align-items: center;
	}
	
.wrapper {
	display: flex;
	align-items: center;
}

.logo {
	float: left;
	width: 10%;
	height: 10%;	
	position: relative;
	top: 10px;
}
	
.title {
	position: relative;
	left: 10px;
	top: 10px;
	color: #010502;
	font-size: 10px;
	font-size: 3vw;
}
	
.signin {
	float: right;
	color: white;
	background-color:#338d38;
	font-size: 17px;
	position: relative;
	border-radius: 12px;
	align-self: flex-end;
}

nav ul{
	list-style-type: none;
	margin-top: 30px;
	padding: 15px;
	overflow: hidden;
	background-color: #3134cc;
	flex: 2;
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}
	
nav ul li a {
	display: inline;
	color:rgb(255, 255, 255);
	text-align: justify;
	padding: 14px 16px;
	text-decoration: none;
	text-transform: uppercase;
}
	
nav ul li a:hover:not(.active){
	background-color: #393b3a;	
}
	
.active{
	background-color: #0c0c0b
}
/* Profile Images */
.column2{
	width:25%;
	float: left;
	padding:8px 10px;
}

.row::after{
	content:"";
	display:table;
	clear:both;
}

.profileCard{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	max-width: 300px;
	margin: auto;
	background-color: white;
	text-align:center;
	border-radius:40px;
	padding-bottom:15px;
}

.title{
	color:gray;
	font-size:18px;
}
/* Card Information */
section{
	padding: 1rem 0;
	background-color: #fff;
}

.card-wrapper{
	display:flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.card {
	width: 32rem;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1rem 0;
	box-shadow: .5 rem .5rem 15 rem rgba(0,0,0,0.9);
	padding: 10px;
}

.card h1 {
	font-size: 2rem;
	color: #333;
	margin: 1.5rem 0;
}

.about {
	font-size: 1rem;
	margin: 1rem 0;
	text-align: center;
	color: #333;
}

.content {
	display: flex;
	flex-direction: row;
	display: inline-block;
	margin-top: 100px;
	position: relative;
	top: -80px;
	padding: 40px;
}


.members {
  display: flex;
  justify-content: center;
}

.column {
	flex: 33%;
	max-width: 33%;
	padding: 0 4px;
  }
  
.column img {
	margin-top: 4px;
	vertical-align: middle;
}
  
.img_hover {
	position: relative;
	width: 100%;
}
  
.image {
	display: block;
	width: 100%;
	height: auto;
	padding-top: 4px;
}
  
.description {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 225px;
	width: 225px;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
}
  
.img_hover:hover .description {
	opacity: 1;
}
  
.text {
	color: white;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

@media screen and (min-width: 700px){
	.card-wrapper{
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.card{
		margin: 2rem;
		transition: transform .5s;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	.card:nth-child(1){
		animation: fadeIn .5s .5s backwards;
	}
	.card:nth-child(2){
		animation: fadeIn .5s 1s backwards;
	}
	.card:nth-child(3){
		animation: fadeIn .5s 1.5s backwards;
	}
	.card:hover{
		transform: scale(1.05);
	}
}