*{
	padding:0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family: montserrat;
	overflow-x:hidden;
	}

nav{
	background: white;
	height: 80px;
	width: 100%;
}
Header{
	
	display: flex;
  	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	background: white;
	color: black;
	font: 15px sans-serif;
	
	}
	
.wrapper {
	display: flex;
				  
	align-items: center;
	}
.logo-img{

	float: left;
	padding-top: 0px;
	padding-left: 0px;
	width: 6%;
	height: 8%;	
	position: relative;
	top: 5px;
}

.logo {
	position: relative;
	left: 10px;
	top: 10px;
}



.signin{
	float: right;
	color:white;
	background-color:#3a37e7;
	font-size: 20px;
	margin-top: 0px;
	margin-right: 20px;
	position: relative;
	top: -20px;
	border-radius:12px;
}
nav ul{
	list-style-type: none;
	margin-top: 30px;
	padding: 0;
	overflow: hidden;
	background-color: #2f2cf0;
}

nav ul li{
	float: left;
		}

nav ul li a {
	display: block;
	color:white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-transform: uppercase;
}

nav ul li a:hover:not(.active){
	background-color: #0f0f11;
}



.active{
	background-color: #0f0e06
}



/* Main image uses in home page */
.home-img{

	width: 100%;
	height: 400px;
	/*background-size: cover;*/
	
}

/* Latest articles line */

.container{
	background-color: #55ACEE;
}
#articles h1{
	text-align: center;
	font: 18px bold times new roman;
}

.container h2{
	text-align: center;
	font: 18px bold times new roman;
}

#articles2 h2{
	text-align: center;
	font: 18px bold times new roman;
}
/* Footer */
footer{
	padding: 10px;
	margin-top: 20px;
	color: white;
	background-color:#211ef3;
	text-align: center;
}

.fa-facebook {
  background: #2760dd;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #C80288;
  color: white;
}